* {
    box-sizing: border-box;
}

.App {
    margin: 20px auto;
    max-width: 700px;
    width: 90%;
    text-align: center;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 12pt;
    display: flex;
    justify-content: center;
}

main {
    margin: 1rem;
    max-width: 30rem;
    position: relative;
}

nav {
    font-size: 13px;
}

li {
    list-style-type: none;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

footer {
    margin: 10px auto;
    font-size: 11px;
}

button {
    border: none;
    font-size: 11px;
}