* {
    box-sizing: border-box;
}

body {
    background-color: #305a7d;
}

.navbar {
    padding: 10px, 20px;
    text-align: center;
    background: #254661;
}

.navbar h1 {
    margin: 10px, 0;
}

.uglythings-list {
    margin: 20px;
}

.uglythings-list ul {
    padding: 0;
    list-style-type: none;
}

.uglythings-list li {
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 10px, 0;
}

.uglythings-list li:hover {
    opacity: 0.7;
    text-decoration: line-through;
}

.imgUrl {
    width: 75%;
}

.form-container {
    width: 75%;
    margin: 5px auto;
    padding: 20px;
}
