/* * {
    box-sizing: border-box;
    font-size: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pink {
    width: 400px;
    height: 100px;
    background-color: #F5C6D6;
}
.purple-container {
    display: flex;
}
.purple-container > div {
    width: 100px;
    height: 100px;
    background-color: #EE2E84;
    border: 2px solid white;
}
@media only screen and (max-width: 500px){
    .pink {
        height: 50px;
    }
    .purple-container {
        flex-direction: column;
        width: 400px;
    }
    .purple-container > div {
        width: 100%;
        height: 50px;
    }
} */



@media all and (display-mode: browser) {
    * {
        box-sizing: border-box;
        font-size: 0;
    }
}

@media only screen and (min-width: 700px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        background: white;
    }
}

@media all and (display-mode: standalone) {
    .box {
    background:#F5C6D6;
    margin: 20px;
    border: 2px solid white;

}    
}



.container {
    width: 500px;
    height: auto;
    margin: auto;
    border: 100% solid white;
}


.box {
    height: 100px;
    width: 500px;
    display: inline-block;
    background-color: #F5C6D6;
    border: 5px solid white;
}

.purple {
    flex
}

.purple-container {
    height: 100px;
    width: 250px;
    display: inline-block;
    background-color: #85CFD8;
    border: 5px solid white;
}

.purple-container > div {
    height: 100px;
    width: 350px;
    display: inline-block;
    background-color: #8DC63F;
    border: 5px solid white;
}

.box4 {
    height: 100px;
    width: 150px;
    display: inline-block;
    background-color: #E76E34;
    border: 5px solid white;
}