* {
    box-sizing: border-box;
    font-size: 0;
}

body {
    background-color: lightblue;
}

.france-flag {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

.france-flag:before {
    content: "";
    width: 34%;
    height: 100%;
    position: absolute;
    background-color: darkblue;
    top: 0;
    left: 0;
}

.france-flag:after {
    content: "";
    width: 34%;
    height: 100%;
    position: absolute;
    background-color: red;
    bottom: 0;
    right: 0;

}

.germany-flag {
    padding: 250px;
    background-color: red;
    position: relative;
    margin: 20px;
}

.germany-flag:before {
    content: "";
    width: 100%;
    height: 34%;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
}

.germany-flag:after {
    content: "";
    width: 100%;
    height: 34%;
    position: absolute;
    background-color: yellow;
    bottom: 0;
    left: 0;
}

.madagascar-flag {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;

}

.madagascar-flag:before {
    content: "";
    width: 75%;
    height: 250px;
    position: absolute;
    background-color: red;
    top: 0;
    right: 0;
}

.madagascar-flag:after {
    content: "";
    width: 75%;
    height: 250px;
    position: absolute;
    background-color: green;
    bottom: 0;
    right: 0;   
}

.switzerland-flag {
    padding: 250px;
    background-color: red;
    position: relative;
    margin: 20px;
}

.switzerland-flag:before {
    content: "";
    width: 190px;
    height: 15%;
    position: absolute;
    background-color: white;
    top: 190px;
    left: 250px;
    bottom: 2px;

} 

.switzerland-flag:before {
    content: "";
    width: 50%;
    height: 15%;
    position: absolute;
    background-color: white;
    top: 200px;
    left: 180px;
} 

.switzerland-flag:after {
    content: "";
    width: 13%;
    height: 51%;
    position: absolute;
    background-color: white;
    left: 340px;
    top: 116px;
}
 
.sweden-flag {
        padding: 250px;
        background-color: skyblue;
        position: relative;
        margin: 20px;
}

.sweden-flag:before {
    content: "";
    width: 100%;
    height: 15%;
    position: absolute;
    background-color: yellow;
    display: inline-block;
    left: 0;
    top: 175px;
}
/* border-width: 30px 50px 50px 50px; */

.sweden-flag:after {
    content: "";
    width: 10%;
    height: 100%;
    position: absolute;
    background-color: yellow;
    display: inline-block;
    top: 1px;
}

.gambia-flag {
    padding: 250px;
    background-color: green;
    position: relative;
    margin: 20px;
}

.gambia-flag:before {
    content: "";
    width: 100%;
    height: 34%;
    position: absolute;
    background-color: darkblue;
    top: 140px;
    right: 0;
    left: 0;
    border-bottom: solid white 40px;
}

.gambia-flag:after {
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    background-color: red;
    top: 0;
    bottom: 0;
    right: 0;
    border-bottom: solid white 40px;
}

.japan-flag {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

.japan-flag:before {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: red;
    top: 100px;
    left: 300px;
    border-radius: 150px;
}

.greece-flag {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

.greece-flag:before {
    content: "";
    width: 100%;
    height: 34%;
    position: absolute;
    background-color: darkblue;
    left: 0;
}

/* .netherlands-flag {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

.netherlands-flag:before {
    content: "";
    width: 100%;
    height: 30%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.netherlands-flag:after {
    content: "";
    width: 100%;
    height: 30%;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
} */