* {
    box-sizing: border-box;
    font-size: 0;
}

main {
    width: 30px;
    height: 60%;
    margin-left: 30%;
}

html, body {
    background-color: lightblue;
    margin: 0 0;
    padding: 0;
}

.div {
    position: absolute;
    content: '';
}

h1 {
    font-size: 25px;
    padding: 20px;
    color: white;
    text-align: center;
}

.France {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

.France:before {
    content: '';
    width: 34%;
    height: 100%;
    position: absolute;
    background-color: darkblue;
    top: 0;
    left: 0;
}

.France:after {
    content: '' ;
    width: 34%;
    height: 100%;
    position: absolute;
    background-color: red;
    bottom: 0;
    right: 0;
}

.Germany {
    padding: 250px;
    background-color: red;
    position: relative;
    margin: 20px;
}

.Germany:before {
    content: '';
    width: 100%;
    height: 34%;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
}

.Germany:after {
    content: '';
    width: 100%;
    height: 34%;
    position: absolute;
    background-color: yellow;
    bottom: 0;
    left: 0;
}

.Madagascar {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

.Madagascar:before {
    content: '';
    width: 75%;
    height: 250px;
    position: absolute;
    background-color: red;
    top: 0;
    right: 0;
}

.Madagascar:after {
    content: '';
    width: 75%;
    height: 250px;
    position: absolute;
    background-color: green;
    bottom: 0;
    right: 0;   
}

.Switzerland {
    padding: 250px;
    background-color: red;
    position: relative;
    margin: 20px;
}

.Switzerland:before {
    content: '';
    width: 190px;
    height: 15%;
    position: absolute;
    background-color: white;
    top: 190px;
    left: 250px;
    bottom: 2px;
} 

.Switzerland:before {
    content: '';
    width: 50%;
    height: 15%;
    position: absolute;
    background-color: white;
    top: 200px;
    left: 180px;
} 

.Switzerland:after {
    content: '';
    width: 13%;
    height: 51%;
    position: absolute;
    background-color: white;
    left: 340px;
    top: 116px;
}
 
.Sweden {
    padding: 250px;
    background-color: skyblue;
    position: relative;
    margin: 20px;
}

.Sweden:before {
    content: '';
    width: 100%;
    height: 15%;
    position: absolute;
    background-color: yellow;
    display: inline-block;
    left: 0;
    top: 175px;
}

.Sweden:after {
    content: '';
    width: 10%;
    height: 100%;
    position: absolute;
    background-color: yellow;
    display: inline-block;
    top: 1px;
}

.Gambia {
    padding: 250px;
    background-color: green;
    position: relative;
    margin: 20px;
}

.Gambia:before {
    content: '';
    width: 100%;
    height: 34%;
    position: absolute;
    background-color: darkblue;
    top: 140px;
    right: 0;
    left: 0;
    border-bottom: solid white 40px;
}

.Gambia:after {
    content: '';
    width: 100%;
    height: 30%;
    position: absolute;
    background-color: red;
    top: 0;
    bottom: 0;
    right: 0;
    border-bottom: solid white 40px;
}

.Japan {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

.Japan:before {
    content: '';
    width: 220px;
    height: 220px;
    position: absolute;
    background-color: red;
    top: 170px;
    left: 270px;
    border-radius: 170px;
}

.Tonga {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

.Greece {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

.Greece:before {
    content: '';
    width: 100%;
    height: 10%;
    position: absolute;
    background-color: darkblue;
    left: 0;
}

.Greece:after {
    content: '';
    width: 100%;
    height: 40px;
    position: absolute;
    background: green;
    top: 0;
    right: 0;
}

.Niger {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

.Maldives {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

/* .netherlands-flag {
    padding: 250px;
    background-color: white;
    position: relative;
    margin: 20px;
}

.netherlands-flag:before {
    content: "";
    width: 100%;
    height: 30%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.netherlands-flag:after {
    content: "";
    width: 100%;
    height: 30%;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
} */