
/* 
input [type="button"] {
    background-color: chocolate;
    color: black;
    border: solid black 2px;
    width: 100px;
} */

 /* input [type="text"] {
    background-color: white;
    border: solid black 2px;
    width: 100px;
}  */

body, .calculator {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}