body {
    background: lightslategray;
}

.add {
    background: blue;
    min-height: 100pt;
    min-width: 100pt; 
    color: white;
    border: solid red 2pt;
}

.subtract {
    background: royalblue;
    min-height: 100pt;
    min-width: 100pt; 
    color: white;
    border: solid red 2pt;
}

.multiply {
    background: navy;
    min-height: 100pt;
    min-width: 100pt; 
    color: white;
    border: solid red 2pt;
}

/* .result-1 {
    background: royalblue;
    min-height: 100pt;
    min-width: 100pt; 
    color: white;
    border: solid grey 2pt;
}

.result-2 {
    background: lightblue;
    min-height: 100pt;
    min-width: 100pt; 
    color: white;
    border: solid grey 2pt;
}

.result-3 {
    background: midnightblue;
    min-height: 100pt;
    min-width: 100pt; 
    color: white;
    border: solid grey 2pt;
} */

input [type="button"] {
    background-color: chocolate;
    color: black;
    border: solid black 2px;
    width: 100px;
}

input [type="text"] {
    background-color: white;
    border: solid black 2px;
    width: 100px;
}



        /* NOTES */

/* body {
    background: black;
}

h4 {
    background: #777;
}

h6 {
    background: #f0f0f0
}    

.user-card {
    background: aquagreen;
    min-height: 100pt;
    min-width: 100pt; 
    font-size: 16pt;
    margin-top: 20pt;
}

input {
    margin-right: 10pt;
}

label {
    margin-left: 10pt;
    color: white;
}

.question-container {
    background: slategray;
} */

