# dependencies
/node_modules

# build output directories
/build
/bin
/out
/target

# files generated at runtime
*.log
.lock
.tmp

# personal IDE config files
.idea/
.vscode/
*.orig
.env

# hidden system files
.DS_Store

npm-debug.log*
