
body {
    font-family: cambria;
    color: black;
    background: white;
    margin: 15pt;
    border: gray solid 2pt;
}

header {
    font-size: 50pt;
    text-transform: uppercase;
    background: lightgray;
    color: solid white;
    margin-bottom: 20pt;
    text-align: center;
    border-bottom: gray solid 2pt;
}

.subhead {
    text-align: center;
    color: royalblue;
    font-size: 11pt;
}

h1 {
    font-size: 11pt;
    font-style: normal;
    text-align: left;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-bottom: 5pt;
    color: black;
}

h2 {
    font-size: 11pt;
    text-align: left;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-bottom: 5pt;
    color: black;
}

h3 {
    font-size: 11pt;
    font-style: normal;
    text-align: left;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-bottom: 5pt;
    color: black;
}

h4 {
    font-size: 10pt;
    font: bold;
    color: red;
    border-top:  red solid 2pt;
    text-align: center;
    margin-bottom: -10pt;
    margin-top: 5pt;
}

h5 {
    font-size: 10pt;
    text-align: center;
    color: red;
    border-top: solid red 1px;
    margin-top: 4pt;
    margin-bottom: 0;
}

h6 {
    font-size: 10pt;
    text-align: center;
    color: red;
    border-top: solid red 1px;
    margin-bottom: 5pt;
}

span {
    font-style: italic;
}
