* {
    box-sizing: border-box; 
    font-size: 0px;
}

.container {
    width: 500px;
    height: auto;
    margin: auto;
    border: 100% solid white;
}


.box {
    height: 100px;
    width: 500px;
    display: inline-block;
    background-color: #F5C6D6;
    border: 5px solid white;
}

.box1 {
    height: 100px;
    width: 125px; 
    display: inline-block;
    background-color: #EE2E84;
    border: 5px solid white;
}

.box2 {
    height: 100px;
    width: 250px;
    display: inline-block;
    background-color: #85CFD8;
    border: 5px solid white;
}

.box3 {
    height: 100px;
    width: 350px;
    display: inline-block;
    background-color: #8DC63F;
    border: 5px solid white;
}

.box4 {
    height: 100px;
    width: 150px;
    display: inline-block;
    background-color: #E76E34;
    border: 5px solid white;
}