/* RESPONSIVE COLOR GRID FROM SCRATCH */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 0px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 50px;
    grid-template-areas:
    ""
    ""
    ""
    ""
    ;
    grid-gap: 10px;
}
.grid-container > div {
    padding: 50px;
}

/* These arguments display changes made to (ROWS / COLUMNS) as follows: { grid-row-start / grid-column-start / grid-row-end / grid-row-column } */

.item1 {
    grid-area: 1 / 1 / span 1 / span 5; 
    background-color: #F5C6D6;
}
.item2 {
    grid-area: 2 / 1 / span 1 / span 2;
}
.item4 {
    grid-area: 2 / 3 / span 1 / span 1;
}
.item6 {
    grid-area: 2 / 4 / span 1 / span 1;
}
.item8 {
    grid-area: 2 / 5 / span 1 / span 1;
}

/* This argument sets a background color for every <div> element that is the second child of its parent and is "even" OR "odd" regardless of type. */

.grid-container div:nth-child(even) { 
    background-color: #EE2E84;
}

.item3 {
    grid-area: 3 / 1 / span 1 / span 3 ;
    background-color: #85CFD8;
}
.item5 {
    grid-area: 3 / 4 / span 1 / span 2 ;
    background-color: #85CFD8;
}
.item7 {
    grid-area: 4 / 1 / span 1 / span 4 ;
    background-color: #8DC63F;
}

.item9 {
    grid-area: 4 / 5 / span 1 / span  ; 
    background-color: #E76E34;
}

/* DESKTOP VIEW */

@media screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        ""
        ""
        ""
        ""
        ;
    }
    
}