* {
  box-sizing: border-box;
}

.App {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: black;
  color: white;
  text-align: center;
}

h2 {
  font-Size: 100px;
}

li {
  list-style-type: none;
}