* {
  box-sizing: border-box;
}

.App {
  margin: 0;
  font-family: 'Roboto'
}

body {
  background: black;
  color: #B3B322;
  text-align: center;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 70px;
}

@media all and (max-width: 1000px)
  and (min-width: 520px) {
    body {
      width: 50%;
      font-size: 15px;
    }
}